<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ControlCenter" connectionString="server=.;database=STAS;uid=sa;pwd=infra" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <add key="UseAD" value="0"/>
    <add key="SimpleAD" value="1"/>
    <add key="ADpath" value="LDAP://DC=..,DC=.."/>
    <add key="ADdomain" value=""/>
    <add key="ADpersistantcookie" value="1"/>
    <add key="DisableAdminUser" value="0"/>
    <add key="AutoCreateADuser" value="1"/>
    <add key="AutoCreateADuserAdGroupMapping" value="adgrpx=xyz,ad gruppe x=Superuser,abc=def"/>

    <add key="aspnet:MaxHttpCollectionKeys" value="4000"/>
    <add key="Telerik.AsyncUpload.TemporaryFolder" value="~/App_Data/RadUploadTemp"/>
    <add key="CurrentCLR" value="4"/>
    <add key="OEM" value="0"/>
    <add key="System" value="CC"/>
    <!-- Default connection string used for ControlCenter connectivity -->
    <add key="ConnectionString" value="server=.;uid=sa;pwd=infra;database=STAS"/>
    <add key="DatabaseVersion" value="2"/>
    <add key="DatabaseVersionMinor" value="3"/>
    <add key="UseAdminGroups" value="0"/>
    <add key="UseTreeState" value="0"/>
    <add key="QueryRetries" value="5"/>
    <add key="QueryBackoffTime" value="500"/>
    <add key="ProcessID" value="99"/>
    <add key="UseChannels" value="0"/>
    <add key="OldFileNames" value="0"/>
    
    <add key="ForceHTML5" value="1"/>
	
    
    
    <!-- Virtual web directory aliases - do not edit 
    -->
    <add key="VirtualImageFolder" value="CCpreviews"/>
    <add key="VirtualRasterImageFolder" value="CCpreviews2"/>
    <add key="VirtualThumbnailFolder" value="CCthumbnails"/>
    <add key="VirtualHiresFolder" value="CCfiles"/>
    <add key="VirtualReadViewFolder" value="CCreadviewpreviews"/>
    <add key="VirtualPdfLogFolder" value="CCPDFlogs"/>
    <add key="VirtualPdfFolder" value="CCPDFfiles"/>
    <add key="VirtualReportFolder" value="CCReports"/>
    <add key="VirtualLogFolder" value="CCLogs"/>
    <add key="VirtualFlatFolder" value="CCFlatPreviews"/>
    <add key="VirtualFlatThumbnailsFolder" value="CCFlatThumbnails"/>
    <add key="VirtualUploadFolder" value="CCUpload"/>
    <add key="VirtualAlwanLogFolder" value="CCAlwanlogs"/>
    <add key="VirtualArchiveFolder" value="CCArchive"/>
    <add key="VirtualPlanFolder" value="CCPlans"/>
    <!-- Monitor view timeout in seconds for processes and devices 
    -->
    <add key="ProcessTimeOut" value="20"/>
    <add key="VersionString" value="Version 3.6.1"/>
    <add key="CopyrightString" value="(C) 2017 Copyright InfraLogic ApS"/>
    <add key="AdminEmail" value="support@infralogic.dk"/>
    <add key="SuperUserMaySeeAll" value="0"/>
    <add key="Loglevel" value="1"/>
    <add key="NoCache" value="1"/>
    <add key="FlatLook" value="1"/>
    <!-- Configurable settings - edit with care! 
    -->
    <!-- Language settings for English 
    -->
    <add key="Encoding" value="utf-8"/>
    <add key="Language" value="da"/>
    <!-- Language settings for Korean -->
    <!--<add key="Encoding" value="utf-8" /> -->
    <!-- <add key="Language" value="da" /> -->
    <!-- Language settings for Chinese -->
    <!-- <add key="Encoding" value="utf-8" /> -->
    <!-- <add key="Language" value="da" /> -->
    <add key="LocationIsPress" value="0"/>
    <add key="UsePressGroups" value="1"/>
    <add key="SendMail" value="0"/>
    <add key="SMTPServer" value="smtp.mail.dk"/>
    <add key="MailFrom" value="approver@infralogic.dk"/>
    <add key="MailTo" value="nan@infralogic.dk"/>
    <add key="MailCC" value="sales@infralogic.dk"/>
    <add key="MailSubject" value="WebCenter error notification: Page disapproved  "/>
    <add key="ShowCustomMenu" value="0"/>
    <add key="ShowCustomMenuScript" value="ShowFileDistLog.aspx"/>
    <add key="ShowCustomMenuName" value="Show FTP-log"/>
    <add key="PressesToIgnore" value="DAT GOSS,DAT KBA"/>
    
    <!-- Page tree settings -->
    <add key="DefaultTreeExpansion" value="2"/>
    <add key="DefaultTreeExpansionShowAllEditions" value="0"/>
    <add key="DefaultTreeExpansionShowAllSections" value="0"/>
    <add key="PagesInTree" value="0"/>
    <add key="ShowOrdernumberInTree" value="0"/>
    <add key="ShowWeeknumberInTree" value="0"/>
    <add key="ShowCustomerInTree" value="0"/>
    <add key="ShowCommentInTree" value="1"/>
    <add key="ShowSectionCommentInTree" value="1"/>
    <add key="ShowAliasInTree" value="0"/>
    <add key="ShowInkAliasInTree" value="1"/>
    <add key="ShowAliasInTreeChars" value="3"/>
    <add key="ShowPageCountInTree" value="0"/>
    <add key="ShowWeeknumberInTreeFilter" value="0"/>
    <!-- ShowPageCountInTree=0 off, ShowPageCountInTree=1 page count in pub-level only, ShowPageCountInTree=2 page count on all levels -->
    <add key="ShowLocationSelector" value="0"/>
    <add key="ShowPressSelector" value="1"/>
    <add key="TreeWhiteStatusUntilAllReceived" value="0"/>    
    <add key="TreePreventAllSelection" value="0"/>
       
    
    
    <add key="CheckFlatProofStatus" value="0"/>
    <add key="UploaderUrl" value=""/>
    <!-- <add key="UploaderUrl" value="SilverlightFileUploader.Web" /> -->
    <!-- Page tab settings -->
    <add key="BlankOnEntry" value="1"/>
    <add key="ExtendedThumbnailViewShowFTP" value="1"/>
    <add key="ExtendedThumbnailViewShowPreflight" value="1"/>
    <add key="ExtendedThumbnailViewShowRIP" value="1"/>
    <add key="ExtendedThumbnailViewShowColorWarning" value="0"/>
    <add key="ExtendedThumbnailViewShowInkSave" value="1"/>
    <add key="SmallEventIcons" value="1"/>
    <add key="HideOldProducts" value="0"/>
    <add key="DefaultHideCommonPages" value="0"/>
    <add key="DefaultHideApprovedPages" value="0"/>
    <add key="CommonPageIndication" value="1"/>
    <add key="MessageSystem" value="0"/>
    <add key="ShowHistory" value="0"/>
    <add key="ShowPitstopReports" value="1"/>
    <add key="ShowInksaveReports" value="1"/>
    <add key="ShowDeadline" value="1"/>
    <add key="ShowPlanPageName" value="1"/>
    <add key="PlanPageNameIsFileName" value="1"/>
    <add key="ReTransmitButton" value="0"/>
    <add key="ThumbnailShowStatusColors" value="1"/>
    <add key="ThumbnailShowMask" value="1"/>
    <add key="MustUsePressRunMask" value="0"/>
    <add key="DefaultToMaskImage" value="0"/>
    <add key="ShowPdfIfExists" value="0"/>
    <add key="IndicatePreflightError" value="1"/>
    <add key="GrayModeHeatMap" value="1"/>
    <add key="AllowPageDelete" value="1"/>
    <add key="AllowPDFDownload" value="0"/>
    <add key="AllowColorChange" value="1"/>
    <add key="AllowReproof" value="0"/>
    <add key="AllowPageLock" value="0"/>
    <add key="AllowInsertPages" value="1"/>    
    <add key="AllowInsertPagesFileNamePattern" value="%P-%D-%E-%S-%N-%X.pdf"/>    
    <add key="AllowInsertPagesFileNameDatePattern" value="DDMMYY"/>    
    
    <add key="ShowBigLock" value="0"/>
    <add key="ShowAutoapprovedGreen" value="0"/>
    <add key="WarningTemplateID" value="0"/>
    <add key="ThumbnailsCommentAsPageNumber" value="0"/>
    
    <add key="NextButtonOrderByPageIndex" value="1"/>
    <add key="AllowPermanentDelete" value="1"/>
    
    
    <!-- format string for shown plan page name (over thumbnail). 
    Valid options are:  
    %Q: PlanPageName, 
    %P: Publication
    %p: Publication alias
    %D: Pubdate (format defined in 'PlanPageNameDateFormat' - see below)
    %E: Edition
    %e: Edition alias
    %S: Section 
    %s: Section alias
    %N:  PageNumber 
    %2N: Pagenumber zero-extended to two digits (e.g. 02)
    %3N: Pagenumber zero-extended to three digits (e.g. 002)
    %U: Pagination 
    %A: PageIndex 
    %K: Comment
    %W: Deadline
    %I: InputTime
    -->
    <add key="PlanPageNameFormat" value="%I"/>
    <!-- Pubdate format if %D is used above Use combination of YYYY, YY, MM, DD -->
    <add key="PlanPageNameDateFormat" value="DDMM"/>
    <!-- Input time format 1: hh:mm   2: DD-MM hh:mm -->
    <add key="PlanPageNameInputTimeFormat" value="2"/>
    <add key="ShowPlanPageNameAsTooltip" value="0"/>
    <add key="LogApproveEvent" value="1"/>
    <add key="LogRejectEvent" value="1"/>
    <add key="AllowPartialProofs" value="1"/>
    <add key="AllowUpload" value="1"/>
    <add key="UploadViewUseNameRule" value="1"/>
    <add key="AllowHardproof" value="0"/>
    <add key="AllowReprocess" value="1"/>
    <add key="ShowResetApprove" value="0"/>
    <add key="HideDownload" value="0"/>
    <add key="ShowApproveAllButton" value="1"/>
    <add key="ShowCustomAction" value="0"/>
    <add key="ShowReadyAction" value="1"/>
    <add key="PlanRestrictToOneSection" value="1"/>
    

    <add key="HideApproveButton" value="0"/>
    <add key="AutoReproofSystem" value="0"/>
    <!-- Page zoom settings --> 
    <add key="UseHTML5" value="0"/>
    <!-- Page zoom settings -->
    <add key="CloseZoomAfterApprove" value="1"/>
    <add key="UseFlashViewer" value="1"/>
    <add key="UseVersionPreviews" value="1"/>
    <add key="UseVersionThumbnails" value="1"/>
    <add key="UseInputTimeInThumbnailName" value="0"/>
       
    
    <add key="ApproveOnNextButton" value="1"/>
    <add key="AllowDisapproveForward" value="0"/>
    <add key="SetCommentOnDisapproval" value="1"/>
    <add key="SetCommentInPrePollPageTable" value="1"/>
    <add key="CheckJpegComment" value="1"/>
    <add key="AllowPDFView" value="0"/>
    <add key="ShowAnnotatedPDF" value="1"/>    
    <add key="PDFBookShowHeader" value="2"/>
    <add key="PDFBookCreator" value="WebCenter"/>
    <add key="PDFBookAuthor" value="InfraLogic"/>
    <add key="PDFbookHeaderDefinition" value="%P-%D-%E-%S-%N    %T"/>    
    <add key="PDFbookHeaderPubDateDefinition" value="DD.MM.YYYY"/>
    <add key="PDFbookHeaderLogo" value="C:\Users\nan_000\Documents\Visual Studio 2015\Projects\Web\WebCenter2015\WebCenter4\Images\BigLock.gif"/> 
    <add key="PDFbookHeaderLogoPosition" value="10,240"/> 
     <add key="PDFBookHeaderXpos" value="20"/> 
     <add key="PDFBookHeaderYpos" value="5"/> 
     <add key="PDFBookHeaderFontSize" value="14"/> 
        
    <add key="UsePageNameAsUploadFileName" value="0"/>
    <add key="AddExtensionToUploadFileName" value="pdf"/>
    <add key="CustomUploadFileNames" value="1"/>
    <add key="UploadViewUseNameRule" value="1"/>
    
    <add key="ShowRasterImage" value="0"/>
    

    <!--
     <add key="FlashVars" value="_zoomifyToolbar=1_zoomifyShowNav=1_zoomifyClickZoom=1_zoomifyMaxZoom=200_quality=high" />
   -->
    <add key="FlashVars" value="_zoomifyToolbar=1_zoomifyShowNav=0_zoomifyNavWindow=0_zoomifyClickZoom=2_zoomifyPanConstrain=1_zoomifyMaxZoom=100_zoomifyZoomSpeed=5_zoomifyFadeInSpeed=1_zoomifyToolbarLogo=0_zoomifySplashScreen=0_quality=high"/>
    <!--
    Flash Viewer Parameters use '_' to delimit multiple parameters):
    quality: high
    zoomifyX: initial view X, -1 to 1, 0 centers image in display (centered = default)
    zoomifyY: initial view Y, -1 to 1, 0 centers image in display (centered = default)
    zoomifyZoom: 1 to 100, -1 to fit to display area (-1 = default)
    zoomifyMinZoom: 1 to 100, -1 to fit to display area (-1 = default)
    zoomifyMaxZoom: 1 to 1000, -1 to fit to display area (100 = default)
    zoomifyNavWindow: 1 to show, 0 to hide (1 = default)
    zoomfiyNavX: X pixel position of NavWindow on stage (0 = default)
    zoomfiyNavY: Y pixel position of NavWindow on stage (0 = default)
    zoomifyToolbar: 1 to show, 0 to hide (1 = default)
    zoomifySlider: 1 to show, 0 to hide (1 = default)
    zoomifyClickZoom: 1 enables click-jump to next zoom level, 0 disables (0 = default)
    zoomifyZoomSpeed: 1 to magnify quickly, 10 to magnify slowly (5 = default)
    zoomifyFadeInSpeed: transition in milliseconds, 0 disables fade-in effect (0 = default)
    zoomifyToolbarIcon: 2 show/hide icon in upper right corner, 3 show/hide icon in lower right corner, 0 no icon (0 = default) 
    bgcolor: 

    
    zoomifyToolbarLogo=0
    zoomifySplashScreen=0
    zoomifyCenterInitialView=false
    zoomifyInitialX=500
    zoomifyInitialY=500
    zoomifyInitialZoom=100
    zoomifyMinZoom=5
    zoomifyMaxZoom=100
    zoomifyClickZoom=1
    zoomifyZoomSpeed=10
    zoomifyFadeInSpeed=1
    zoomifyPanConstrain=1
    zoomifyToolbarVisible=1
    zoomifySliderVisible=1
    zoomifyToolbarTooltips=1
    zoomifyToolbarSpacing=12
    zoomifyNavigatorVisible=1
    zoomifyNavigatorWidth=200
    zoomifyNavigatorHeight=200
    zoomifyNavigatorX=10
    zoomifyNavigatorY=270
    zoomifyEvents=0
    zoomifyToolbarSkinXMLPath=Skins/dark/skinFiles.xml
  -->
    <!-- Readview tab settings -->
    <add key="HideReadView" value="0"/>
    <add key="ReadViewAdminOnly" value="0"/>
    <!-- List tab settings -->
    <add key="HideListView" value="0"/>
    <add key="ListViewAdminOnly" value="0"/>
    <add key="TranslateTableHeaders" value="0"/>
    <add key="DefaultSelectedAllCopies" value="0"/>
    <add key="DefaultSelectedAllSeps" value="0"/>
    <add key="ColumnOrder" value="Edition,Section,Page,Pagination,Color,Status,Version,Approval,Hold,Priority,Template,Device,ExternalStatus,CopyNumber,Press,LastError,Comment,DeadLine,ProofStatus,Location,SheetNumber,SheetSide,PagePositions,PageType,PagesPerPlate,InputTime,ApproveTime,OutputTime,VerifyTime,Active,Unique,MasterCopySeparationSet,SeparationSet,FlatSeparationSet,FlatSeparation,Separation"/>
    <!-- Status tab settings -->
    <add key="HideTableView" value="0"/>
    <add key="TableViewAdminOnly" value="0"/>
    <add key="TranslateTableHeaders" value="0"/>
    <!-- Flats tab settings -->
    <add key="HideFlatView" value="0"/>
    <add key="FlatViewAdminOnly" value="1"/>
    <add key="AllowFlatproof" value="0"/>
    <add key="HideCopyInfo" value="1"/>
    <add key="UseFlatThumbnails" value="0"/>
    <add key="OnlyUseFlatThumbnails" value="0"/>
    <add key="SimpleFlatView" value="0"/>
    <add key="FlatViewShowSheetNumber" value="0"/>
    <add key="FlatViewShowApproveButton" value="0"/>
    <add key="UseVersionFlats" value="1"/>
    <add key="UpdateApproveTimeOnRelease" value="1"/>
    <add key="RunCustomRelease" value="0"/>
    <add key="FlatViewShowPlateNumber" value="1"/>
    <add key="ShowRetransmitAllButton" value="1"/>
    <add key="FlatDependOnExtStatus" value="0"/>
    <add key="FlatDependOnExtStatusNumber" value="1"/>
    <add key="FlatHideRelease" value="0"/>
    <add key="PubDateFormat" value="1"/>
    <!-- 0 : Local date format -->
    <!-- 1 : DD.MM.YYYY        -->
    <!-- 2 : DD.MM.YY          -->
    <!-- 3 : DD-MM-YYYY        -->
    <!-- 4 : DD-MM-YY          -->
    <!-- 5 : DD/MM/YYYY        -->
    <!-- 6 : DD/MM/YY          -->
    <!-- 7 : Week              -->
    <!-- Press Runs tab settings -->
    <add key="HideRunView" value="0"/>
    <add key="RunViewAdminOnly" value="0"/>
    <add key="RunViewPageSize" value="0"/>
    <add key="AlwaysSetPressRunPubDate" value="1"/>
    <add key="SetPressRunPubDateToTreePubdate" value="1"/>
    <add key="RunViewHideDevices" value="1"/>
    <add key="PressRunShowInkComment" value="1"/>
    <add key="PressRunPrePollStatus" value="0"/>
    <add key="PressRunSortedStatus" value="1"/>
    <add key="PressRunDefaultToAllDates" value="1"/>
    
    
    <!-- Log view tab settings -->
    <add key="HideLogView" value="0"/>
    <add key="LogViewAdminOnly" value="0"/>
    <!-- List of selectable locations  -->
    <add key="LogLocations" value="Default"/>

    <add key="MaxLogEntries" value="100"/>
    <add key="MaxLogMessageLength" value="40"/>
    <add key="LogReportPeriodHours" value="48"/>
    
    
    <!-- Plan tab settings -->
    <add key="HidePlanView" value="0"/>
    <add key="PlanViewAdminOnly" value="0"/>
    <add key="UseExtendedPlanning" value="2"/>
    <add key="PlanUseXml" value="0"/>
    <add key="PlanLockSystem" value="2"/>
    <add key="PublicationPlanLockSystem" value="1"/>
    <add key="AlwaysPlanCMYK" value="1"/>
    <add key="HidePlanPriority" value="1"/>
    <add key="HidePlanPress" value="1"/>
    <add key="HidePlanTemplate" value="1"/>
    <add key="HidePlanPageFormat" value="0"/>
    <add key="HidePlanPressTime" value="1"/>
    <add key="HidePlanCirculation" value="1"/>
    <add key="HidePlanCirculation2" value="1"/>
    <add key="HidePlanPageOffset" value="0"/>
    <add key="HidePlanPagePrefix" value="1"/>
    <add key="HidePlanPagePostfix" value="1"/>
    <add key="HidePlanCombineSections" value="1"/>
    <add key="HidePlanWeekNumber" value="1"/>
    <add key="HidePlanApprovalRequired" value="1"/>
    <add key="AlwaysAutoApply" value="0"/>
    <add key="HidePlanProofer" value="1"/>
    <add key="KeepExistingColors" value="1"/>
    <add key="KeepExistingApproval" value="1"/>
    <add key="KeepExistingUnique" value="1"/>
    <add key="HideDoubleBurnColors" value="1"/>
    <add key="PlanPdfColorAllowed" value="0"/>
    <add key="PlanMonoColorAllowed" value="0"/>
    <add key="PlanSpecialColorAllowed" value="0"/>
    <add key="PlanCMYKColorAllowed" value="0"/>
    <add key="PlanRunPreProcedureCC" value="1"/>
    <add key="PlanRunPostProcedure" value="1"/>
    <add key="PlanRunPostProcedure2" value="0"/>
    <add key="PlanPressSpecificPages" value="1"/>
    <add key="PlanPreferredEdition" value="HOV"/>
    <add key="LogPlanning" value="1"/>
    <add key="PlanningCustomPressSelection" value="1"/>
    
    
    <add key="PressTemplateFolder" value="D:\Test\Nice\Templates"/>
    <add key="PressTemplateFileExtension" value=""/>
    <add key="PressTemplateOutputFolder" value="D:\Test\Nice\ImportInput"/>
        
    <add key="OrderSystem" value="0"/>
    <!-- OrderNumberFormat is displayed order name in planning view  %M:OrderNumber, %P:Publication, %D:PubDate, %E:Edition, %Q:PressTime -->
    <add key="OrderNumberFormat" value="%M %P %D"/>
    <add key="UniqueOrderNumberPerPressRun" value="1"/>
    <add key="ExportPlanFile" value="1"/>
    <add key="HideDeletePlanButton" value="0"/>
    <add key="HideUploadPlanButton" value="1"/>
    <add key="HideEditPlanButton" value="1"/>
    <add key="UseWeeknumberAsComment" value="1"/>
    <!-- Statictics tab settings -->
    <add key="HideStatistics" value="0"/>
    <add key="StatisticsAdminOnly" value="0"/>
    <add key="AllowCustomReports" value="0"/>
    <add key="ReportShowReadyTime" value="1"/>
    <add key="LogUserAccess" value="1"/>
    <add key="ReportShowViewTime" value="1"/>
    <add key="ReportShowDeadline" value="1"/>
    <add key="ReportShowAfterDeadline" value="1"/>
    <add key="ReportShowCMYKInk" value="1"/>
    <add key="InkUsagePer1000Copies" value="1500.0"/>
    <add key="InkUsagePlateImageSize" value="0.100"/>
    <add key="ReportShowArchive" value="1"/>
    <add key="ReportShowMonthly" value="1"/>
    
    <!-- ExcelSavetype  0: XLS  1: XLSX  -->
    <add key="ExcelSaveType" value="0"/>
    <add key="ExcelTimeFormat" value="dd/MM/yyyy HH:mm:ss"/>
     <add key="ExcelDateFormat" value="dd/MM/yyyy"/>
    
    <add key="IncludePageHistory" value="1"/>    
    <add key="HideUnknownFiles" value="0"/>
    <add key="UnknownFilesAdminOnly" value="0"/>
        
    <!-- Internal settings -->
    <add key="RotateFlats" value="0"/>
    <add key="UseNotes" value="0"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/error.htm"/>
    
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    
      <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="AppSettingsUrl" type="UrlResolvingExpressionBuilder"/>
      </expressionBuilders>
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <globalization culture="" enableClientBasedCulture="false" uiCulture=""/>

    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" />
    <!--  HTTP MODULES SETTINGS
          httpModules - Responsible for configuring HTTP modules within an application. 
          HTTP modules participate in the processing of every request into an application. 
          ElementIT.PowUpload.UploadModule intercepts page requests before passing them on to ASP.NET
    -->
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI"/>
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
    </httpHandlers>
    <sessionState timeout="100"/>

 <!--   <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="adAuthCookie" timeout="10" path="/">
      </forms>
    </authentication> 
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <identity impersonate="true"/> 
 -->


  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_WebUI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>